body {
    background-color:#f6f6f6;
    height: 1000px;
    margin:0px;
    padding: 0px;
    
    
}


h2 {
    text-align: center;  
    font-family:sans-serif;
    margin-top: 100px;
    margin-bottom: 40px;
}  

    /*
    --------------
    ** Nav List **
    --------------
    */
/*.first
{
    position: fixed;
    z-index: 1;
}*/
.nav{
      list-style: none;
      position: absolute;
      top:2%;
      right:-4%;
      margin-right: 110px;
     
     
}

.nav li {
    display: inline-block;
    border: 1px solid white;
    padding: 5px 0px;
    border-radius: 50px;
}
.nav li .about
{
    padding: 7px 35px;
}

.nav li a{
    color: white;
    padding: 6px 35px;
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
}

.nav li a:hover {
    background: white;
    color: #303438;
    border-radius: 50px;
}


    /*
    ----------
    ** LOGO **
    ----------
    */


#logo {
    position: absolute;
    width: 7%;
    left: 5%;
    
    padding: 25px 20px;
}

.second {
    height: 60%;
}

#fig1 {
    position: absolute;
    width: 33%;
    left: 70%;
    top: 45%;
    transform:scale(0.7,0.7);
    
    margin-right: 200px;
    
}

#fig2 {
    width: 33%;
    margin-left: 100px;
}
    
/*
    -----------
    ** books **
    -----------
*/

.BooksLayer1, .BooksLayer2{
        font-family: 'lato',sans-serif;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin:auto;
        margin-bottom: 40px;
        width:63%;
      
    }
    

/* BOOK CARDS */

.card {

    width: 200px; 
    height: 240px; 
    padding: 2rem 1rem;
    border-radius: 15px;
    border-color: darkgrey;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    
}

.card:hover{
    transform: translateY(-20px);

    
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left:0;     
    width:100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(14, 67, 16, 0.5), rgba(255, 255, 255, 0.5));
    z-index:2;
    transition: 0.3s all;
    opacity: 0;
       

}

.card:hover:before {
    opacity: 1;
    
}


/* BOOK IMG */
    
.card img{
    object-fit: cover;
    position: absolute;
    top: 0;
    left:0;
    border-radius: 15px;
    width:100%;
    height: 100%;  
}

/* BOOK INFO */

.card .info{
    position: relative;
    z-index: 3;
    color: #fff; 
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s all;
    font-size: 15px;
}
    
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
    
}

.card .info .book-btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #2c2929;
    color:white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

/*search box*/
.search-box
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    background:rgb(95,129,133);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-img
{
   height: 20px;
   text-align: center;
}

.search-img
{
    
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:18px;
    transition: 0.4s;
    line-height: 40px;
    width: 340px;
}
.search-box:hover >.search-txt{
    width: 460px;
    padding: 0 6px;
}
::placeholder
{
    color: darkslategrey;
}

.quote
{
    position: absolute;
    text-align: center;
    bottom: 50%;
    left: 25%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 45px;
    color:white;
    -webkit-text-stroke:2px rgb(95,129,133) ;
 
}
 
/* Login as admin and as student buttons style*/
.adminChoice,.adminImg,.studentImg
{
    height: 300px;
    width: 300px;
    cursor: pointer;
}
.adminImg
{
    position: relative;
    right: 5%;
}
.studentImd
{
    position: relative;
    left: 5%;
}
.page-container div
{
    position: relative;
    display: inline-block;
    margin: 12px;
    left: 28%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.page-container h1
{
    text-align: center;
}
.chooseRole
{
    font-family: "Comic Sans MS", cursive, sans-serif;
}